<% provide(:title, 'Blog') %>

<div class="container">
      <div class="row">
        <ul class="nav nav-pills .pull-right">
          <li >
            <%= link_to "Courses", courses_path %>
          </li>
          <li><%= link_to "Tutorials", tutorials_path %></li>
          <li class="active"><%= link_to "Blog", blogs_path %></li>
      </ul>
      </div>

      <div class="row">
        <div class="span8">
            <ul class="breadcrumb">
              <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
              <li class="active">Blogs</li>
            </ul>

            <% if @blogs.count < 1 %>
              <div class="alert alert-success">
                  Be the First one to Write the First Blog!!!!
              </div>
            <% else %>
                <%= form_tag blogs_path, method: "get", id: "blogs_search", html: { class: 'form-horizontal' } do %>
                  <p>
                    <%= text_field_tag :search, params[:search], class: 'text_field', placeholder: "Enter your search string to find the blog by it's title", autocomplete: "off"  %>
                  </p>
                  <p><%= link_to "Add New Blog", new_blog_path , class: "move-to-right-top"%></p>
                  <div class="clearfix"></div>
                  <div id="blogs"><%= render 'blogs' %></div>
                <% end %> <!-- end of form -->
            <% end %><!-- end of if condition -->
            
        </div><!-- <div class="span8"> -->

        <div class="span3">
            <div class="well-1">

                <form class="navbar-search pull-left">
                  <input type="text" class="search-query" id="mysearch" placeholder="Search">
                </form>
                <div class="clearfix"></div>

                <div class="categories">
                    <!-- <span class="badge badge-info">Categories</span> -->

                    <ul class="nav nav-tabs">
                      <li class="active">
                        <a href="#">Tags:</a>
                      </li>
                      
                    </ul>
                    <ul class="nav nav-list">
                      <li class="nav-header"></li>
                      <li class="active"><a href="#">All</a></li>
                      <% @tags.each do |tag| %>
                        <li><a href="#"><%= tag.name %></a></li>
                      <% end %>
                      
                    </ul>
                    <br/>
                    <!-- <button id="createTopicbottom" class="btn btn-info" type="button">Add new Topic
                    </button> -->
                    <button id="manageTagsbottom" class="btn btn-info" type="button">Manage Tags
                    </button>
                </div>
                
                
                
          </div>
        </div><!-- <div class="span3"> -->
      </div><!-- <div class="row"> -->
</div><!-- <div class="container"> -->