<% provide(:title, 'Coaches') %>
<div class="container">
    <div class="row">
        <ul class="nav nav-pills .pull-right">
          <li>
            <%= link_to "Courses", courses_path %>
          </li>
          <li><%= link_to "Tutorials", tutorials_path %></li>
          <li><%= link_to "Online Classes", o_classes_path %></li>
          <li><%= link_to "Blog", blogs_path %></li>
           <li class="active"><%= link_to "Coaches", users_path %></li>
      </ul>
    </div>


      <div class="row">
        

      <% puts " "#Rails.env %>
      <center>
        <div class="span12">
          <p class="lead" style="color:#BF5FFF;"><i class="icon-user" style="position:relative;top:3px;"></i> Meet our smart coaches!!!!</p>
          
          <% for user in @users %>
          <div class="coachbox" align="left">
            <h1>
              <%= gravatar_for user %>
              <span>
                <%= link_to user.name, user %>
                <p><%= user.email %></p>
              </span>
            </h1>
            <div class="clearfix"></div>
            
          </div>
          
          <% end %>
        </div>
      </center>


      </div>
</div><!-- <div class="container"> -->
