<% provide(:title, 'Coaches') %>
<div class="container">
    <div class="row">
        <ul class="nav nav-pills .pull-right">
          <li>
            <%= link_to "Courses", courses_path %>
          </li>
          <li><%= link_to "Tutorials", tutorials_path %></li>
          <li><%= link_to "Online Classes", o_classes_path %></li>
          <li><%= link_to "Blog", blogs_path %></li>
           <li class="active"><%= link_to "Coaches", users_path %></li>
      </ul>
    </div>


      <div class="row">
        

      <% puts " "#Rails.env %>
      <center>
        <div class="span12">
          <p class="lead" style="color:#000;"><i class="icon-user" style="position:relative;top:3px;"></i> Meet our smart coaches!!!!</p>
          
          <% for user in @users %>
          <div class="coachbox" align="left">
              <%= gravatar_for_with_size user, "50x50" %>
              <span>
                <%= link_to user.name, user %>
                <p>
                  <%= user.email %>  |   
                  <% if user.user_type == 1  %>
                    Student
                  <% elsif user.user_type == 2 %>
                    Teacher
                  <% else %>
                    Admin
                  <% end %>

                </p>
                
              </span>
              <div class="clearfix"></div>
            
            <div class="clearfix"></div>
            
          </div>
          
          <% end %>
        </div>
      </center>


      </div>
</div><!-- <div class="container"> -->
