<% provide(:title, 'Sign up') %>
	<div class="row">
        <ul class="nav nav-pills .pull-right">
          <li>
            <%= link_to "Courses", courses_path %>
          </li>
          <li><%= link_to "Tutorials", tutorials_path %></li>
          <% if signed_in? %>
            <li><%= link_to "Online Classes", o_classes_path %></li>
          <% end %>
          <li><%= link_to "Blog", blogs_path %></li>
           <li class="active"><%= link_to "Coaches", users_path %></li>
        </ul>
     </div>
	<div class="row">
		<div class="span6 offset3">
			<h3>Subscribe</h3>
			<%= form_for(@user) do |f| %>
				<%= render 'shared/error_messages', object: f.object %>

				<%= f.label :name %>
				<%= f.text_field :name %>
				<%= f.label :email %>
				<%= f.text_field :email %>
				<%= f.label :password %>
				<%= f.password_field :password %>
				<%= f.label :password_confirmation, "Confirmation" %>
				<%= f.password_field :password_confirmation %>
				</br>
				</br>
				<div class="clearfix"></div>
				<p> User Details </p>
				<div class="clearfix"></div>
				<%= f.label  :user_desc, "About Me" %>
				<%= f.text_field :user_desc %>
				<%= f.label  :user_type, "Role" %>
				<%= f.select :user_type, [['Student', 1], ['Teacher', 2], ['Observer',3]] %>
				<%= f.label  :sub_plan, "Subscription Type" %>
				<%= f.select :sub_plan, [['Monthly Pack', 1], ['Yearly Pack', 2]] %>
				
				<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
			<% end %>
		</div>
	</div>
