<% provide(:title, @user.name) %>
<div class="container">


  <div class="row">
        <ul class="nav nav-pills .pull-right">
          <li>
            <%= link_to "Courses", courses_path %>
          </li>
          <li><%= link_to "Tutorials", tutorials_path %></li>
          <li><%= link_to "Online Classes", o_classes_path %></li>
          <li><%= link_to "Blog", blogs_path %></li>
           <li><%= link_to "Coaches", users_path %></li>
      </ul>
  </div>

	<div class="row">
    <center>
	 <aside class="span12">
	  <section>
	   <h3>
	    <%= gravatar_for @user %>
	    <%= @user.name %>
	    </h3>
      <p> <%= @user.email %> </p>
      <p>He is a 
        <% if @user.user_type == 2 %>
          Teacher
        <% elsif  @user.user_type == 1 %>
          Student
        <% else %>
          Admin
      <% end %>
      </p>
      <p> <%= @user.user_desc %> </p>
    
    <p>
      <% if @user.courses.any? %>
        <%= "He has created #{@user.courses.count} courses." %> 
      <% end %>
    </p>
          </section>
         </aside>
       </center>
      </div>
      

      <div class="row">
        
        <div class="span12">
            

            <div class="well">
                <h4>Courses created by <%= "#{@user.name}" %> </h4>
        	<% if @user.courses.any? %>
      			<ol class="microposts">
      				<%= render @courses %>
      			</ol>
      			<%= will_paginate @courses %>
      		<% end %>     

                                
                <div class="clearfix"></div>
            </div>
       	   </div><!-- <div class="span8"> -->

        
      </div><!-- <div class="row"> -->

</div><!-- <div class="container"> -->
