<% provide(:title, @user.name) %>
<div class="container">


  <div class="row">
        <ul class="nav nav-pills .pull-right">
          <li>
            <%= link_to "Courses", courses_path %>
          </li>
          <li><%= link_to "Tutorials", tutorials_path %></li>
          <li><%= link_to "Online Classes", o_classes_path %></li>
          <li><%= link_to "Blog", blogs_path %></li>
           <li class="active"><%= link_to "Coaches", users_path %></li>
      </ul>
  </div>

	<div class="row">
    <center>
	 <aside class="span12">
	  <section>
	   <h3>
	    <%= gravatar_for @user %>
	    <%= @user.name %>
	    </h3>
      <p> <%= @user.email %> </p>
      <p>He is a 
        <% if @user.user_type == 2 %>
          Teacher
        <% elsif  @user.user_type == 1 %>
          Student
        <% else %>
          Admin
      <% end %>
      </p>
      <p> <%= @user.user_desc %> </p>
    
          </section>
         </aside>
       </center>
      </div>
      

      <div class="row">
        
        <div class="span12">
            
          <div class="tabbable"> <!-- Only required for left/right tabs -->
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#courses" data-toggle="tab">Courses <%= " (#{@user.courses.size})" %></a></li>
                    <li><a href="#tutorials" data-toggle="tab">Tutorials<%= " (#{@user.tutorials.size})" %></a></li>
                    <li><a href="#blogs" data-toggle="tab">Blogs<%= " (#{@user.blogs.size})" %></a></li>
                  </ul>
                  <div class="tab-content">

                    <div class="tab-pane active" id="courses">

                      <div class="well">
                            <% if @user.courses.size >= 1 %>
                                
                                <% if @user.courses.any? %>
                                    <%= will_paginate @courses %>
                                    <ol class="microposts">
                                      <%= render @courses %>
                                    </ol>
                                    <%= will_paginate @courses %>
                                <% end %>                     
                                <div class="clearfix"></div>
                            <% else %>
                              <div class="alert alert-error">
                                    He has not created any course yet!!!!
                              </div>
                            <% end %>
                      </div>

                    </div><!-- <div class="tab-pane active" id="categories"> -->

                    <div class="tab-pane" id="tutorials">
                      
                      <div class="well">
                            <% if @user.tutorials.size >= 1 %>
                              
                              <% if @user.tutorials.any? %>
                                  <%= will_paginate @tutorials %>
                                  <ol class="microposts">
                                    <%= render @tutorials %>
                                  </ol>
                                  <%= will_paginate @tutorials %>
                              <% end %>                     
                              <div class="clearfix"></div>
                            <% else %>
                              <div class="alert alert-error">
                                    He has not created any tutorial yet!!!!
                              </div>
                            <% end %>
                      </div>
                    </div><!-- <div class="tab-pane" id="categories"> -->

                    <div class="tab-pane" id="blogs">
                      
                      <div class="well">
                            <% if @user.blogs.size >= 1 %>
                              
                              <% if @user.blogs.any? %>
                                  <%= will_paginate @blogs %>
                                  <ol class="microposts">
                                    <%= render @blogs %>
                                  </ol>
                                  <%= will_paginate @blogs %>
                              <% end %>                     
                              <div class="clearfix"></div>
                            <% else %>
                              <div class="alert alert-error">
                                    He has not created any blogs yet!!!!
                              </div>
                            <% end %>
                      </div>
                    </div><!-- <div class="tab-pane" id="categories"> -->
                  
                  </div><!--<div class="tab-content"> -->
                </div><!-- Only required for left/right tabs -->






            
       	   </div><!-- <div class="span8"> -->

        
      </div><!-- <div class="row"> -->

</div><!-- <div class="container"> -->
