<% provide(:title, 'Create Course') %>
<div class="row">
<div class="span4 offset3">
<%= form_for(@course) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<%= f.label :title, "Course Title" %>
<%= f.text_field :title %>
<%= f.label :author, "Author Name" %>
<%= f.text_field :author %>
<%= f.label :category, "Couse Category" %>
<%= f.text_field :category %>
<%= f.label :desc, "Course Description" %>
<%= f.text_area :desc %>
<%= f.label :image, "Course Image" %>
<%= f.text_field :image %>
<br/><br/>
<%= f.submit "Create Course", class: "btn btn-large btn-info" %>
<% end %>
</div>
</div>